[Unit]
Description=display-ip
After=network-online.target

[Service]
Type=simple
Restart=never
# Edit these lines  to point to the relevant directories and files
User=marcel
WorkingDirectory=/home/marcel
ExecStart=/home/marcel/cpsy/bin/python3 display-ip.py

[Install]
WantedBy=multi-user.target
